cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
gevent==21.8.0
gevent-eventemitter==2.1
greenlet==1.1.1
idna==3.2
protobuf==3.17.3
pycparser==2.20
pycryptodomex==3.10.1
requests==2.26.0
six==1.16.0
steam==1.2.0
urllib3==1.26.6
vdf==3.4
zope.event==4.5.0
zope.interface==5.4.0
